{% extends 'skeleton.html' %}
{% block content %}
<div class="card text-center">
	<div class="card-header">
	Tarkov Key Tool
	</div>
	<div class="card-body">
		<img src="{{ key.image_path }}" class="image-info">
		<h4 class="card-title">{{ key.name }}</h4>
		<a href="/keys/e/{{ key.name }}"><h5 class="card-title">{{ key.keymap }}</h5></a>
		<p class="card-text">{{ key.description }}</p>

		<a href="/keys#main-table" class="btn btn-primary">Back</a>
	</div>
	<div class="card-footer text-muted">
	Last update: 1/05/2019
	</div>
</div>
{% endblock %}